.social-media {
    .social-media-content-container {

        .social-media-content-header {
            color: #fa3351;
        }

        .social-media-social-links-tag {
            margin: 0 0.5em 0 0;
            padding: 0;
            line-height: 0;

            .social-media-social-links {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .medium-link-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            
            .medium-link-header {
                color: #fa3351;
                font-size: 30px;
            }

            .medium-link-logo {
                width: 80.25px;
                height: 46px;
            }
        }
    }
}