.app {
    transition: background-color 300ms ease;
}

.scroll-to-top-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 43.5px;
    height: 65.16px;
}

.section-link-app {
    margin: 0;
    padding: 0;
}

.section-link-app:hover {
    cursor: pointer;
}